{% extends 'snblog/base.html'  %}
 {% block content %}

    {% for post in elems %}
     <div class="posts">
         <div class="container">
             <h1>
                 <a href="{% url 'post' pk=post.pk %}">
                     {{post.title}}
                   {% if post.image %}
                  <img src="{{ post.image.url }}" width="240px">
                    {% endif %}
                 </a>
             </h1>
             <em class="posts_elem">{{post.created}}</em>
             <p>{{post.text}}</p>
             <hr/>
         </div>
     </div>



    {% endfor %}
    {% endblock %}
