{% extends 'snblog/base.html'  %}
 {% block content %}

    {% for post in elems %}
    <div class="container">
     <div class="posts m-3">
         <div class="card">
          <em class="posts_elem">{{post.created}}</em>
             {% if post.image %}
                  <img src="{{ post.image.url }}" class="card-img-top" width="240px">
                    {% endif %}
         <div class="card-body">
             <a href="{% url 'post' pk=post.pk %}">
                     {{post.title}}

             </a>
       <p class="card-text">{{post.text}}</p>
         </div>
        </div>

     </div>

     </div>

    {% endfor %}

<div class="container"></div>
    {% include "snblog/paginator.html" with page=posts %}

    {% endblock %}
